#footer {
  background-image: radial-gradient(circle at top, #000714e1 100%);

  & .footer-container {
    height: 26rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;

    background-image: url(../images/book-trace-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    & h4 {
      color: var(--text-body);
      margin-bottom: 1.25rem;
    }

    & .link {
      color: var(--blue-light);

      &:hover {
        color: var(--text-body);
      }
    }

    & .brand {
      max-width: 16.5rem;

      & .social-links {
        display: flex;
        justify-content: space-between;

        & .social-card {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 2.5rem;
          height: 2.5rem;

          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;

          border-radius: 50%;
          transition: all 500ms;

          &:hover {
            background-color: var(--shape-stroke);
          }
        }

        & .social-card:nth-child(1) {
          background-image: url(../icons/instagram.svg);

          &:hover {
            background-image: url(../icons/instagram-hover.svg);
          }
        }

        & .social-card:nth-child(2) {
          background-image: url(../icons/twitter.svg);

          &:hover {
            background-image: url(../icons/twitter-hover.svg);
          }
        }

        & .social-card:nth-child(3) {
          background-image: url(../icons/facebook.svg);

          &:hover {
            background-image: url(../icons/facebook-hover.svg);
          }
        }

        & .social-card:nth-child(4) {
          background-image: url(../icons/discord.svg);

          &:hover {
            background-image: url(../icons/discord-hover.svg);
          }
        }

        & .social-card:nth-child(5) {
          background-image: url(../icons/whatsapp.svg);

          &:hover {
            background-image: url(../icons/whatsapp-hover.svg);
          }
        }

        & .social-card:nth-child(6) {
          background-image: url(../icons/mail.svg);

          &:hover {
            background-image: url(../icons/mail-hover.svg);
          }
        }
      }
    }
  }
}

@media (width <= 880px) {
  #footer {
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;

    & .brand {
      margin-bottom: 2.5rem;
    }
  }
}
