#header {
  background-image: radial-gradient(
    ellipse at center,
    #11001b6e 40%,
    #00000073 100%,
    #2c024273 40%,
    #00000073 100%
  );

  animation: fadeInHeader 3s ease forwards;

  & .img-logo {
    background-image: url(../icons/logo-horizontal.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 3.625rem;
    width: 14.375rem;
  }

  & #title-container {
    background-image: url(../images/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    aspect-ratio: 1440 / 948;

    height: auto;

    padding-inline: 10rem;
    padding-top: 3.5rem;

    width: 100%;
  }

  & .title {
    max-width: 41rem;
    margin: 10rem auto;

    & h1 {
      color: var(--text-title);
      opacity: 0;
      animation: fadeInHeader 2s ease forwards;
      margin-bottom: 2rem;
    }

    & span {
      color: var(--text-body);
      opacity: 0;
      animation: fadeInStages 2s ease 1s forwards;
    }
  }
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInStages {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (width <= 1100px) {
  #header {
    & .title {
      margin: 3rem auto;

      & span {
        font-size: 1rem;
      }

      & h1 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (width <= 760px) {
  #header {
    & #title-container {
      padding-inline: 1.25rem;
      padding-top: 1.25rem;
    }

    & .title h1 {
      font-size: 1.75rem;
      line-height: 1;
    }

    & #intro {
      & p {
        font-size: 1rem;
      }
    }

    & .img-logo {
      background-image: url(../icons/logo-symbol.svg);
      height: 3rem;
      width: 4.03rem;
    }
  }
}

@media (width <= 600px) {
  #header {
    & #title-container {
      aspect-ratio: 800 / 948;
    }

    & .title {
      margin: 3rem auto;

      & span {
        font-size: 0.75rem;
      }
    }
  }
}
