#intro {
  max-width: 75rem;
  color: var(--text-body);
  text-align: center;
  height: 25rem;
  margin: 0 auto;
  padding-inline: 10rem;
  margin-top: 6rem;

  & img {
    opacity: 0;
    scale: 0;
  }

  & p .intro-1,
  & p .intro-2,
  & p .intro-3 {
    opacity: 0.5;

    & .text-highlight {
      color: var(--text-body);
    }
  }

  &:hover {
    & img {
      opacity: 1;
      scale: 1;
    }

    & p .intro-1,
    & p .intro-2,
    & p .intro-3 {
      opacity: 1;

      & .text-highlight {
        color: var(--blue-light);
      }
    }
  }
}

#intro p .intro-1,
#intro p .intro-2,
#intro p .intro-3 {
  opacity: 0.5;
  transition: all 500ms ease;
  transition-delay: 0s; /* SEM delay na saída */

  & .text-highlight {
    color: var(--text-body);
    transition: color 500ms ease;
  }
}

#intro:hover p .intro-1 {
  transition-delay: 0s;
}
#intro:hover p .intro-2 {
  transition-delay: 0.5s;
}
#intro:hover p .intro-3 {
  transition-delay: 1s;
}

#intro img {
  opacity: 0;
  scale: 0;
  transition: all 500ms ease;
  transition-delay: 0s; /* sem delay na saída */
}

#intro:hover img:nth-child(1) {
}
#intro:hover img:nth-child(2) {
}
#intro:hover img:nth-child(3) {
}

#intro img:nth-child(1),
#intro img:nth-child(2) {
  height: 5rem;
  width: 5rem;
}

#intro img:nth-child(1) {
  transform: rotate(15deg);

  &:hover {
    transform: rotate(30deg) scale(1.1);
  }
}

#intro img:nth-child(2) {
  transform: rotate(105deg);

  &:hover {
    transform: rotate(120deg) scale(1.1);
  }
}

#intro img:nth-child(3) {
  transform: rotate(-15deg);
  height: 4.5rem;
  width: 4.5rem;

  &:hover {
    transform: rotate(-5deg) scale(1.1);
  }
}

@media (width <= 1100px) {
  #header {
    & #intro {
      padding-inline: 1.25rem;
    }
  }
}

@media (width <= 760px) {
  #header {
    & #intro {
      & p {
        font-size: 1rem;
      }

      & img:nth-child(1) {
        height: 2.5rem;
        width: 2.5rem;
      }

      & img:nth-child(2) {
        height: 2rem;
        width: 2rem;
      }

      & img:nth-child(3) {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}
