#kit-month {
  background-image: radial-gradient(
    ellipse at center,
    #11001b6e 40%,
    #00000073 100%,
    #2c024273 40%,
    #00000073 100%
  );

  padding-bottom: 17.375rem;

  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-top: 14.5rem;

    color: var(--text-title);

    & img {
      width: 2rem;
      height: auto;
    }
  }

  & span {
    color: var(--text-body);
    display: block;
    text-align: center;

    margin-block: 0.5rem 5rem;
  }

  & .images {
    position: relative;
    z-index: 5;

    & span,
    & img:nth-child(4),
    & img:nth-child(5),
    & img:nth-child(6) {
      position: absolute;
    }

    & span:nth-child(1) {
      left: 36.6%;
      top: 20.4%;
      z-index: -1;

      transition: all 500ms ease;
    }

    & img:nth-child(5) {
      left: 41.6%;
      top: 28%;
      z-index: -1;
      width: 12.7%;

      transition: all 500ms ease;
    }

    & span:nth-child(2) {
      left: 36.6%;
      top: 50.4%;
      z-index: -1;

      transition: all 500ms ease;
    }

    & img:nth-child(4) {
      left: 36.6%;
      top: 56%;
      z-index: -1;
      width: 8%;

      transition: all 500ms ease;
    }

    & span:nth-child(3) {
      right: 34.2%;
      top: 64%;
      z-index: -1;

      transition: all 500ms ease;
    }

    & img:nth-child(6) {
      right: 34.2%;
      top: 40%;
      z-index: -1;
      width: 11%;

      transition: all 500ms ease;
    }

    & .book {
      width: 33%;
      height: auto;
      margin-top: 8.375rem;

      margin-inline: auto;

      z-index: 5;
    }

    & .book-purple,
    & .book-yellow {
      width: 12.2%;
      height: 85%;

      position: absolute;

      top: 12%;
      left: 54.89%;

      transition: all 500ms ease;
    }

    & .book-pin {
      width: 15.3%;
      height: auto;

      position: absolute;

      top: 53.15%;
      left: 36.85%;

      transition: all 500ms ease;
    }

    & .book-purple {
      z-index: -2;
    }

    & .book-yellow,
    & .book-pin {
      z-index: -1;
    }

    &:hover {
      & .book-purple {
        transform: translateX(120%) translateY(-5%) rotate(20deg);
      }

      & .book-yellow {
        transform: translateX(60.5%) translateY(-25%) rotate(10deg);
      }

      & .book-pin {
        transform: translateX(-81%) translateY(48%) rotate(-10deg);
      }

      & span:nth-child(1) {
        left: 18.5%;
        top: -9%;
      }

      & img:nth-child(5) {
        left: 23.75%;
        top: -3%;
      }

      & span:nth-child(2) {
        left: 20%;
        top: 53.4%;

        transition: all 500ms ease;
      }

      & img:nth-child(4) {
        left: 21%;
        top: 60%;

        transition: all 500ms ease;
      }

      & span:nth-child(3) {
        right: 26.2%;
        top: 115%;

        transition: all 500ms ease;
      }

      & img:nth-child(6) {
        right: 23%;
        top: 90%;

        transition: all 500ms ease;
      }
    }
  }
}

@media (width <= 760px) {
  #kit-month {
    padding-bottom: 13rem;

    & h2 {
      padding-top: 10rem;
      font-size: 1.5rem;
      gap: 0.875rem;

      & img {
        width: 1.5rem;
      }
    }

    & > span {
      font-size: 0.875rem;
      margin-bottom: 4rem;
    }

    & .images .book {
      width: 33%;
      margin-top: 6rem;
    }

    & .images {
      & span {
        font-size: 0.75rem;
      }

      &:hover {
        & span:nth-child(1) {
          left: 16.5%;
          top: -13%;
        }

        & span:nth-child(2) {
          left: 18%;
          top: 49.4%;
        }

        & span:nth-child(3) {
          right: 24.2%;
          top: 114%;
        }
      }
    }
  }
}

@media (width <= 600px) {
  #kit-month {
    padding-bottom: 9rem;

    & h2 {
      font-size: 1rem;
      gap: 0.875rem;
      padding-top: 6rem;

      & img {
        width: 1.5rem;
      }
    }

    & > span {
      font-size: 0.875rem;
      margin-bottom: 2rem;
    }

    & .images .book {
      width: 33%;
      margin-top: 4rem;
    }

    & .images {
      & span {
        font-size: 0.5rem;
      }

      &:hover {
        & span:nth-child(1) {
          left: 13.5%;
          top: -16%;
        }

        & span:nth-child(2) {
          left: 16%;
          top: 47.4%;
        }

        & span:nth-child(3) {
          right: 24.2%;
          top: 114%;
        }
      }
    }
  }
}
