#kit-month {
  background-image: radial-gradient(
    ellipse at center,
    #11001b6e 40%,
    #00000073 100%,
    #2c024273 40%,
    #00000073 100%
  );

  padding-bottom: 17.375rem;

  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-top: 14.5rem;

    color: var(--text-title);

    & img {
      width: 2rem;
      height: auto;
    }
  }

  & span {
    color: var(--text-body);
    display: block;
    text-align: center;

    margin-block: 0.5rem 5rem;
  }

  & .images {
    position: relative;
    z-index: 5;

    & .book {
      width: 33%;
      height: auto;
      margin-top: 8.375rem;

      margin-inline: auto;

      z-index: 5;
    }

    & .book-purple,
    & .book-yellow {
      width: 12.2%;
      height: 85%;

      position: absolute;

      top: 12%;
      left: 54.89%;

      transition: all 500ms ease;
    }

    & .book-pin {
      width: 15.3%;
      height: auto;

      position: absolute;

      top: 53.15%;
      left: 36.85%;

      transition: all 500ms ease;
    }

    & .book-purple {
      z-index: -2;
    }

    & .book-yellow,
    & .book-pin {
      z-index: -1;
    }

    &:hover {
      & .book-purple {
        transform: translateX(120%) translateY(-5%) rotate(20deg);
      }

      & .book-yellow {
        transform: translateX(60.5%) translateY(-25%) rotate(10deg);
      }

      & .book-pin {
        transform: translateX(-81%) translateY(48%) rotate(-10deg);
      }
    }
  }
}

@media (width <= 760px) {
  #kit-month {
    padding-bottom: 13rem;

    & h2 {
      padding-top: 10rem;
      font-size: 1.5rem;
      gap: 0.875rem;

      & img {
        width: 1.5rem;
      }
    }

    & span {
      font-size: 0.875rem;
      margin-bottom: 4rem;
    }

    & .images .book {
      width: 33%;
      margin-top: 6rem;
    }
  }
}

@media (width <= 600px) {
  #kit-month {
    padding-bottom: 9rem;

    & h2 {
      font-size: 1rem;
      gap: 0.875rem;
      padding-top: 6rem;

      & img {
        width: 1.5rem;
      }
    }

    & span {
      font-size: 0.875rem;
      margin-bottom: 2rem;
    }

    & .images .book {
      width: 33%;
      margin-top: 4rem;
    }
  }
}
