:root {
  /* === Colors === */
  /* pink */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  /* blue */
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  /* shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  /* text */
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /* === Typography === */
  --font-family-base: "Inter", sans-serif;
  --font-size-base: 1rem;

  /* === Spacing === */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* === Border Radius === */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}
